<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Edit Category</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/category.css}" />

</head>
<body>
	<div class="container">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-3">
						<h2>
							Edit a <b>Category</b>
						</h2>
					</div>
				</div>
			</div>
		</div>

		<form autocomplete="off" action="#"
			th:action="@{/admin/updateCategory/{id}(id=${category.id})}" th:object="${category}"
			method="post" class="form-horizontal" role="form">
			<div class="form-group">
				<label>Category Name</label>
				<input type="hidden" th:value="${category.id}" name="categoryId" th:field="*{id}"/>
				<input type="text" class="form-control" th:field="*{categoryName}" th:value="${category.categoryName}"/>
				<p th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}">error</p>
			</div>

			<h2>
				<span class="text-success" th:utext="${successMessage}"></span>
			</h2>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</div>



</body>
</html>
