<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Users</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/category.css}" />

</head>
<body>
	<div class="container">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-3">
						<h2>
							Manage <b>Users</b>
						</h2>
					</div>
					<div class="col-sm-3">
						<a href="/admin/createUser" class="btn btn-success"
							onclick="return confirm('you will be logged out, so you can go to registration page. OK?');"
							data-toggle="modal" >
							<i class="material-icons">&#xE147;</i>
							<span>Add New User</span></a>
					</div>
					
				</div>
			</div>
			
			<div class="col-sm-3">
					<b class="text-success" th:utext="${successMessage}"></b>
					</div>

			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>UserName</th>
						<th>E-mail</th>
						<th>Active</th>
						<th>Role</th>
						<th>Actions</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="userTaj : ${users}">
						<td th:text="${userTaj.username}"></td>
						<td th:text="${userTaj.email}"></td>
						<td th:text="${userTaj.active} == '1'? 'Active' : 'Inactive'">hey! Something's wrong here!</td>
						<td>
						<ul>
				            <li th:each="role: ${userTaj.roles}" th:text="${role.role}"></li>
				       </ul>
						</td>
						<td>
						
						<a th:href="|/admin/editUser/${userTaj.id}|" 
							class="edit"
							data-toggle="modal">
							<i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
						</a> 
						<a th:href="|/admin/deleteUser/${userTaj.id}|" 
							onclick="return confirm('Are you sure?')"
								class="delete" data-toggle="modal">
								<i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
						</a>
						
						</td>
					</tr>
				</tbody>	
			</table>
		</div>
	</div>
</body>
</html>
