<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>My Jokes Page</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/category.css}" />

</head>

<body>
	<div class="container">

	
	
	<th:block th:replace="r/navbar::navbar"></th:block>
	
	<div style="margin-top: 20px" class="well well-sm">
	<p class="admin-message-text text-left" th:utext="${userInfo}"></p>
	</div>
	
		<div class="panel-group" style="margin-top: 20px">
			<div class="panel panel-primary">
				<div class="panel-heading">
				
				<div class="row">
				  <div class="col-sm-4">My Jokes</div>
				  <div class="col-sm-4"></div>
				  <div class="col-sm-4">
				  	<a href="/r/createJoke" class="btn btn-success">
				  		<i class="material-icons">&#xE147;</i>
				  		<span>Write a new joke</span>
					</a>
				  </div>
				</div>
				
				</div>
				<th:block th:each="joke : ${allUserTajJokes}">
				<div class="panel-body">
					<div class="panel-group" style="margin-top: 2px">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<div class="row">
								  <div class="col-sm-4" >
									<p th:text="${joke.title}"></p>
								  </div>
								  <div class="col-sm-4"></div>
								  <div class="col-sm-4">
								  	<a th:href="|/r/deleteJoke/${joke.id}|" onclick="return confirm('Are you sure?')" 
								  		class="btn btn-danger">
								  		<i class="material-icons">&#xE872;</i>
								  		<span>Delete this Joke</span>
									</a>
								  </div>
								</div>
							</div>
							<div class="panel-body">
							
							<div class="well well-sm" >
								<span>Categories: </span>
								<th:block th:each="category : ${joke.categories}">
									<span th:text="${category.categoryName}" class="badge">
									</span>			
								</th:block>		

							</div>
							
							
							
							<p th:text="${joke.body}"></p>
							</div>
							<hr>
							<p>Average rating is: <b th:text="${joke.avgRating}?:'Nobody has rated it yet'"></b></p>
						</div>
					</div>
				</div>
				</th:block>				
			</div>
		</div>
	</div>
</body>
</html>